name: Deploy to AWS
on:
  push:
    branches: [main] 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build Backend with Gradle
        run: |
          cd ./myproject
          chmod +x ./gradlew
          ./gradlew clean bootJar

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push (AMD64 platform)
        run: |
          docker build --platform linux/amd64 -t ${{ secrets.DOCKER_USERNAME }}/miniproject-backend ./myproject
          docker push ${{ secrets.DOCKER_USERNAME }}/miniproject-backend
          docker build --platform linux/amd64 -t ${{ secrets.DOCKER_USERNAME }}/miniproject-frontend ./frontend/nextjs-guestbook-app
          docker push ${{ secrets.DOCKER_USERNAME }}/miniproject-frontend

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ec2-user/cicdproject
            docker-compose pull
            docker-compose up -d